In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
ufc1_file = "Resources/data.csv"
ufc1_df = pd.read_csv(ufc1_file)
ufc1_df.head()

,R_fighter,B_fighter,R_odds,B_odds,date,location,country,Winner,title_bout,weight_class,gender
0,Kevin Lee,Charles Oliveira,-145.0,135.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Lightweight,MALE
1,Demian Maia,Gilbert Burns,160.0,-170.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Welterweight,MALE
2,Renato Moicano,Damir Hadzovic,-345.0,315.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE
3,Johnny Walker,Nikita Krylov,-137.0,127.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Light Heavyweight,MALE
4,Francisco Trinaldo,John Makdessi,-160.0,150.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE

In [6]:
ufc2_file = "Resources/ufc-master.csv"
ufc2_df = pd.read_csv(ufc2_file)
ufc2_df.head()

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Anthony Smith,Devin Clark,-139,115,71.942446,115.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Miguel Baeza,Takashi Sato,-175,140,57.142857,140.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Josh Parisian,Parker Porter,-200,160,50.000000,160.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spike Carlyle,Bill Algeo,-177,140,56.497175,140.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ashlee Evans-Smith,Norma Dumont,-137,110,72.992701,110.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Create a filtered dataframe from specific columns
ufc1_cols = ["R_fighter", "B_fighter", "R_odds", "B_odds", "Winner"]
ufc1_transformed= ufc1_df[ufc1_cols].copy()

# Rename the column headers
ufc1_transformed = ufc1_transformed.rename(columns={"R_fighter": "Red_Corner_Fighter",
                                                    "B_fighter": "Blue_Corner_Fighter",
                                                    "R_odds": "Red_Fighter_odds",
                                                    "B_odds": "Blue_Fighter_odds",
                                                    "Winner": "Winner"})

# Clean the data by dropping duplicates and setting the index
#ufc1_transformed.drop_duplicates("Winner", inplace=True)
#ufc1_transformed.set_index("Winner", inplace=True)


ufc1_transformed.head()

,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner
0,Kevin Lee,Charles Oliveira,-145.0,135.0,Blue
1,Demian Maia,Gilbert Burns,160.0,-170.0,Blue
2,Renato Moicano,Damir Hadzovic,-345.0,315.0,Red
3,Johnny Walker,Nikita Krylov,-137.0,127.0,Blue
4,Francisco Trinaldo,John Makdessi,-160.0,150.0,Red

In [21]:
ufc2_cols = ["R_fighter", "B_fighter", "R_odds", "B_odds", "Winner", "R_ev", "B_ev"]
ufc2_transformed = ufc2_df[ufc2_cols].copy()

# Rename the column headers
ufc2_transformed = ufc2_transformed.rename(columns={"R_fighter": "Red_Corner_Fighter",
                                                    "B_fighter": "Blue_Corner_Fighter",
                                                    "R_odds": "Red_Fighter_odds",
                                                    "B_odds": "Blue_Fighter_odds",
                                                    "Winner": "Winner",
                                                    "R_ev": "Red_profit_on_a_100_credit_winnin_bet",
                                                    "B_ev": "Blue_profit_on_a_100_credit_winnin_bet"})

# Set index
#ufc2_transformed.set_index("Winner", inplace=True)

ufc2_transformed.head()

,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner,Red_profit_on_a_100_credit_winnin_bet,Blue_profit_on_a_100_credit_winnin_bet
0,Anthony Smith,Devin Clark,-139,115,Red,71.942446,115.0
1,Miguel Baeza,Takashi Sato,-175,140,Red,57.142857,140.0
2,Josh Parisian,Parker Porter,-200,160,Blue,50.000000,160.0
3,Spike Carlyle,Bill Algeo,-177,140,Blue,56.497175,140.0
4,Ashlee Evans-Smith,Norma Dumont,-137,110,Blue,72.992701,110.0

In [22]:
connection_string = "postgres:postgres@localhost:5432/ufc_db"
engine = create_engine(f'postgresql://{connection_string}')

In [23]:
# Confirm tables
engine.table_names()

[]

In [24]:
ufc1_transformed.to_sql(name='ufc1', con=engine, if_exists='append', index=True)

In [25]:
ufc2_transformed.to_sql(name='ufc2', con=engine, if_exists='append', index=True)