In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
ufc1_file = "Resources/data.csv"
ufc1_df = pd.read_csv(ufc1_file)
ufc1_df.head()

,R_fighter,B_fighter,R_odds,B_odds,date,location,country,Winner,title_bout,weight_class,gender
0,Kevin Lee,Charles Oliveira,-145.0,135.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Lightweight,MALE
1,Demian Maia,Gilbert Burns,160.0,-170.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Welterweight,MALE
2,Renato Moicano,Damir Hadzovic,-345.0,315.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE
3,Johnny Walker,Nikita Krylov,-137.0,127.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Light Heavyweight,MALE
4,Francisco Trinaldo,John Makdessi,-160.0,150.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE

In [3]:
ufc1_df.insert(0, 'New_ID', ufc1_df.index + 0)

ufc1_df

,New_ID,R_fighter,B_fighter,R_odds,B_odds,date,location,country,Winner,title_bout,weight_class,gender
0,0,Kevin Lee,Charles Oliveira,-145.0,135.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Lightweight,MALE
1,1,Demian Maia,Gilbert Burns,160.0,-170.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Welterweight,MALE
2,2,Renato Moicano,Damir Hadzovic,-345.0,315.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE
3,3,Johnny Walker,Nikita Krylov,-137.0,127.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Blue,False,Light Heavyweight,MALE
4,4,Francisco Trinaldo,John Makdessi,-160.0,150.0,3/14/2020,"Brasilia, Distrito Federal, Brazil",Brazil,Red,False,Lightweight,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...
5523,5523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5524,5524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,5525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,5526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,5527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ufc2_file = "Resources/ufc-master.csv"
ufc2_df = pd.read_csv(ufc2_file)
ufc2_df.head()

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Anthony Smith,Devin Clark,-139,115,71.942446,115.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Miguel Baeza,Takashi Sato,-175,140,57.142857,140.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Josh Parisian,Parker Porter,-200,160,50.000000,160.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spike Carlyle,Bill Algeo,-177,140,56.497175,140.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ashlee Evans-Smith,Norma Dumont,-137,110,72.992701,110.0,11/28/2020,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ufc2_df.insert(0, 'New_ID', ufc2_df.index + 0)

ufc2_df

,New_ID,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,0,Anthony Smith,Devin Clark,-139,115,71.942446,115.0,11/28/2020,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Miguel Baeza,Takashi Sato,-175,140,57.142857,140.0,11/28/2020,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Josh Parisian,Parker Porter,-200,160,50.000000,160.0,11/28/2020,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Spike Carlyle,Bill Algeo,-177,140,56.497175,140.0,11/28/2020,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Ashlee Evans-Smith,Norma Dumont,-137,110,72.992701,110.0,11/28/2020,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4490,4490,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.0,3/21/2010,"Broomfield, Colorado, USA",USA,...,0.0,2.0,0.00,0.5,0.0,0.0,0.0,0.0,0.0,0.0
4491,4491,John Howard,Daniel Roberts,-210,175,47.619048,175.0,3/21/2010,"Broomfield, Colorado, USA",USA,...,1.0,1.0,1.00,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4492,4492,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.0,3/21/2010,"Broomfield, Colorado, USA",USA,...,0.0,2.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4493,4493,Mike Pierce,Julio Paulino,-420,335,23.809524,335.0,3/21/2010,"Broomfield, Colorado, USA",USA,...,10.0,0.0,0.60,0.0,0.0,0.0,6.0,0.0,0.0,0.0
4494,4494,Eric Schafer,Jason Brilz,140,-160,140.000000,62.5,3/21/2010,"Broomfield, Colorado, USA",USA,...,3.0,6.0,0.66,0.5,1.0,1.0,1.0,6.0,1.0,1.0

In [9]:
# Create a filtered dataframe from specific columns
ufc1_cols = ["New_ID", "R_fighter", "B_fighter", "R_odds", "B_odds", "Winner"]
ufc1_dropcols= ufc1_df[ufc1_cols].copy()

# Rename the column headers
ufc1_dropcols = ufc1_dropcols.rename(columns={"New_ID": "Fight_ID",
                                                    "R_fighter": "Red_Corner_Fighter",
                                                    "B_fighter": "Blue_Corner_Fighter",
                                                    "R_odds": "Red_Fighter_odds",
                                                    "B_odds": "Blue_Fighter_odds",
                                                    "Winner": "Winner"})


ufc1_dropcols

,Fight_ID,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner
0,0,Kevin Lee,Charles Oliveira,-145.0,135.0,Blue
1,1,Demian Maia,Gilbert Burns,160.0,-170.0,Blue
2,2,Renato Moicano,Damir Hadzovic,-345.0,315.0,Red
3,3,Johnny Walker,Nikita Krylov,-137.0,127.0,Blue
4,4,Francisco Trinaldo,John Makdessi,-160.0,150.0,Red
...,...,...,...,...,...,...
5523,5523,NaN,NaN,NaN,NaN,NaN
5524,5524,NaN,NaN,NaN,NaN,NaN
5525,5525,NaN,NaN,NaN,NaN,NaN
5526,5526,NaN,NaN,NaN,NaN,NaN
5527,5527,NaN,NaN,NaN,NaN,NaN

In [10]:
ufc2_cols = ["New_ID", "R_fighter", "B_fighter", "R_odds", "B_odds", "Winner", "R_ev", "B_ev"]
ufc2_dropcols = ufc2_df[ufc2_cols].copy()

# Rename the column headers
ufc2_dropcols = ufc2_dropcols.rename(columns={"New_ID": "Fight_ID",
                                                    "R_fighter": "Red_Corner_Fighter",
                                                    "B_fighter": "Blue_Corner_Fighter",
                                                    "R_odds": "Red_Fighter_odds",
                                                    "B_odds": "Blue_Fighter_odds",
                                                    "Winner": "Winner",
                                                    "R_ev": "Red_profit_on_a_100_credit_winnin_bet",
                                                    "B_ev": "Blue_profit_on_a_100_credit_winnin_bet"})



ufc2_dropcols

,Fight_ID,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner,Red_profit_on_a_100_credit_winnin_bet,Blue_profit_on_a_100_credit_winnin_bet
0,0,Anthony Smith,Devin Clark,-139,115,Red,71.942446,115.0
1,1,Miguel Baeza,Takashi Sato,-175,140,Red,57.142857,140.0
2,2,Josh Parisian,Parker Porter,-200,160,Blue,50.000000,160.0
3,3,Spike Carlyle,Bill Algeo,-177,140,Blue,56.497175,140.0
4,4,Ashlee Evans-Smith,Norma Dumont,-137,110,Blue,72.992701,110.0
...,...,...,...,...,...,...,...,...
4490,4490,Duane Ludwig,Darren Elkins,-155,135,Blue,64.516129,135.0
4491,4491,John Howard,Daniel Roberts,-210,175,Red,47.619048,175.0
4492,4492,Brendan Schaub,Chase Gormley,-260,220,Red,38.461538,220.0
4493,4493,Mike Pierce,Julio Paulino,-420,335,Red,23.809524,335.0
4494,4494,Eric Schafer,Jason Brilz,140,-160,Blue,140.000000,62.5

In [11]:
# Merge the first two datasets on "Fight_ID" so that no data is lost 
combined_ufc_df = pd.merge(ufc1_dropcols, ufc2_dropcols, how='outer', on='Fight_ID')
combined_ufc_df

,Fight_ID,Red_Corner_Fighter_x,Blue_Corner_Fighter_x,Red_Fighter_odds_x,Blue_Fighter_odds_x,Winner_x,Red_Corner_Fighter_y,Blue_Corner_Fighter_y,Red_Fighter_odds_y,Blue_Fighter_odds_y,Winner_y,Red_profit_on_a_100_credit_winnin_bet,Blue_profit_on_a_100_credit_winnin_bet
0,0,Kevin Lee,Charles Oliveira,-145.0,135.0,Blue,Anthony Smith,Devin Clark,-139.0,115.0,Red,71.942446,115.0
1,1,Demian Maia,Gilbert Burns,160.0,-170.0,Blue,Miguel Baeza,Takashi Sato,-175.0,140.0,Red,57.142857,140.0
2,2,Renato Moicano,Damir Hadzovic,-345.0,315.0,Red,Josh Parisian,Parker Porter,-200.0,160.0,Blue,50.000000,160.0
3,3,Johnny Walker,Nikita Krylov,-137.0,127.0,Blue,Spike Carlyle,Bill Algeo,-177.0,140.0,Blue,56.497175,140.0
4,4,Francisco Trinaldo,John Makdessi,-160.0,150.0,Red,Ashlee Evans-Smith,Norma Dumont,-137.0,110.0,Blue,72.992701,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,5523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5524,5524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,5525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,5526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,5527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Rename our _x columns 
combined_ufc_df = combined_ufc_df.rename(columns={"Red_Corner_Fighter_x":"Red_Corner_Fighter", "Blue_Corner_Fighter_x":"Blue_Corner_Fighter", "Red_Fighter_odds_x":"Red_Fighter_odds",  "Blue_Fighter_odds_x":"Blue_Fighter_odds", "Winner_x":"Winner"})

# Rename our _y columns 
combined_ufc_df = combined_ufc_df.rename(columns={"Red_Corner_Fighter_y":"Red_Corner_Fighter", "Blue_Corner_Fighter_y":"Blue_Corner_Fighter", "Red_Fighter_odds_y":"Red_Fighter_odds",  "Blue_Fighter_odds_y":"Blue_Fighter_odds", "Winner_y":"Winner"})

combined_ufc_df

,Fight_ID,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner,Red_profit_on_a_100_credit_winnin_bet,Blue_profit_on_a_100_credit_winnin_bet
0,0,Kevin Lee,Charles Oliveira,-145.0,135.0,Blue,Anthony Smith,Devin Clark,-139.0,115.0,Red,71.942446,115.0
1,1,Demian Maia,Gilbert Burns,160.0,-170.0,Blue,Miguel Baeza,Takashi Sato,-175.0,140.0,Red,57.142857,140.0
2,2,Renato Moicano,Damir Hadzovic,-345.0,315.0,Red,Josh Parisian,Parker Porter,-200.0,160.0,Blue,50.000000,160.0
3,3,Johnny Walker,Nikita Krylov,-137.0,127.0,Blue,Spike Carlyle,Bill Algeo,-177.0,140.0,Blue,56.497175,140.0
4,4,Francisco Trinaldo,John Makdessi,-160.0,150.0,Red,Ashlee Evans-Smith,Norma Dumont,-137.0,110.0,Blue,72.992701,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,5523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5524,5524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,5525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,5526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,5527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Create the dataframe 

ufc_transformed = pd.DataFrame(combined_ufc_df) 

  
# dropping the rows having NaN values 

ufc_transformed = ufc_transformed.dropna() 

  
# To reset the indices  

ufc_transformed = ufc_transformed.reset_index(drop = True) 

  
# Print the dataframe 
ufc_transformed

,Fight_ID,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner,Red_Corner_Fighter,Blue_Corner_Fighter,Red_Fighter_odds,Blue_Fighter_odds,Winner,Red_profit_on_a_100_credit_winnin_bet,Blue_profit_on_a_100_credit_winnin_bet
0,0,Kevin Lee,Charles Oliveira,-145.0,135.0,Blue,Anthony Smith,Devin Clark,-139.0,115.0,Red,71.942446,115.000000
1,1,Demian Maia,Gilbert Burns,160.0,-170.0,Blue,Miguel Baeza,Takashi Sato,-175.0,140.0,Red,57.142857,140.000000
2,2,Renato Moicano,Damir Hadzovic,-345.0,315.0,Red,Josh Parisian,Parker Porter,-200.0,160.0,Blue,50.000000,160.000000
3,3,Johnny Walker,Nikita Krylov,-137.0,127.0,Blue,Spike Carlyle,Bill Algeo,-177.0,140.0,Blue,56.497175,140.000000
4,4,Francisco Trinaldo,John Makdessi,-160.0,150.0,Red,Ashlee Evans-Smith,Norma Dumont,-137.0,110.0,Blue,72.992701,110.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,4235,Duane Ludwig,Darren Elkins,-155.0,135.0,Blue,Brian Bowles,Damacio Page,-310.0,255.0,Red,32.258065,255.000000
4236,4236,John Howard,Daniel Roberts,-210.0,175.0,Red,Steve Cantwell,Cyrille Diabate,-145.0,125.0,Blue,68.965517,125.000000
4237,4237,Brendan Schaub,Chase Gormley,-260.0,220.0,Red,Joe Stevenson,Danny Castillo,-130.0,110.0,Blue,76.923077,110.000000
4238,4238,Mike Pierce,Julio Paulino,-420.0,335.0,Red,Thiago Tavares,Shane Roller,105.0,-115.0,Blue,105.000000,86.956522
4239,4239,Eric Schafer,Jason Brilz,140.0,-160.0,Blue,Takeya Mizugaki,Reuben Duran,-225.0,185.0,Red,44.444444,185.000000

In [21]:
ufc_transformed.to_csv("Resources/ufc_transformed.csv",
                  encoding="utf-8", index=False, header=True)

In [22]:
connection_string = "postgres:postgres@localhost:5432/ufc_db"
engine = create_engine(f'postgresql://{connection_string}')

In [23]:
engine.table_names()

[]

In [24]:
ufc_transformed.to_csv(name='ufc_transformed', con=engine, if_exists='append', index=True)